<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pawon Resto - New Version</title>
    </head>
<body>
    <a href="#content" class="skip-link" tabindex="0">To Main Content</a>
    
    <!-- Mobile Navbar -->
    <div class="mobile-navbar">
        <div class="menu-icon" id="menu"><a href="#" tabindex="0">&#9776;</a></div>
        <div class="logo-mobile" tabindex="0">Pawon Resto</div>
        <div class="empty-space">&nbsp;</div>
    </div>
    <nav id="drawer" class="mobile-nav">
        <ul class="mobile-nav-list">
            <li class="mobile-nav-item"><a href="" tabindex="0">Home</a></li>
            <li class="mobile-nav-item"><a href="#" tabindex="0">Favorite</a></li>
            <li class="mobile-nav-item"><a href="https://www.instagram.com/savanapa_/" target="_blank" rel="noopener"  tabindex="0">About Us</a></li>
        </ul>
    </nav>
    
    <!-- Desktop Navbar -->
    <nav class="desktop-nav">
        <a class="desktop-logo" href="" tabindex="0">Pawon Resto</a>
        <ul class="desktop-nav-list">
            <li class="desktop-nav-item"><a href="" tabindex="0">Home</a></li>
            <li class="desktop-nav-item"><a href="#" tabindex="0">Favorite</a></li>
            <li class="desktop-nav-item"><a href="https://www.instagram.com/savanapa_/" target="_blank" rel="noopener"  tabindex="0">About Us</a></li>
        </ul>
    </nav>
    
    <!-- Jumbotron -->
    <div class="hero-section" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="hero-inner">
            <h1 class="hero-title" tabindex="0">Pawon Resto</h1>
            <p class="hero-subtitle" tabindex="0">Nikmati Keaslian Rasa dalam Setiap Sajian.</p>
        </div>
    </div>
    
    <!-- Content -->
    <main id="content">
        <section class="main-content">
            <div class="latest-explore">
                <h1 tabindex="0">Explore Restaurant</h1>
                <div class="restaurant-list" id="tes"></div>
            </div>
        </section>
    </main>
    
    <!-- Footer -->
    <footer class="site-footer">
        <p tabindex="0">Copyright © 2024 - Pawon Resto</p>
    </footer>
</body>
</html>
